*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
#container{
    background: url('https://www.mcg.org.au/_/media/images/mcg/about-us/mcg-aerial.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    /* margin-top: 20px; */
}


#header{
    height: 15vh;
    /* width: 100%; */
    /* align-self: flex-end; */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: black 2px solid; */
}
#main{
    border: solid 2 px black;
    height: 85vh;
    display: flex;
    justify-content: center;
}
#logo{
    /* justify-self: flex-start; */
    height: 15vh;
    width: auto;
    border-radius: 100%;
}
#header p{
    color: blanchedalmond;
    text-align: right;
    /* border: 2px black solid; */
    font-size: 65px;
    font-weight: 50;
    align-self: flex-end;
    /* justify-self: flex-end; */
    /* vertical-align: bottom; */
}
#registrationbox{
    align-self: center;
}

#registrationbox label{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
#registrationbox input{
	margin-bottom: 10px;
}
#registrationbox input[type="text"],input[type="password"],input[type="email"]
{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
	color:black;
	font-size: 16px;
	width: 100%;
}
#registrationbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #ffffff;
    font-size: 18px;
    width: 100%;
}
#registrationbox{
    width: 450px;
    height: 500px;
    min-height: 375px;
    overflow:scroll;
    border-radius: 5%;
	min-width: 300px;
    background: white ;
    opacity: 50;
	color:royalblue;
	position: relative;
	/* transform: translate(-50%,-50%); */
	box-sizing: border-box;
    padding: 40px 30px;
    /* display: flex; */
    /* flex-direction: column; */
	/* margin-bottom: 30px;     */
}
#registrationbox input[type="submit"]:hover
{
	cursor: pointer;
	transform:scale(1.1);
	color: #000000;
}
/*
#user{
	width: 100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top: -70px;
	margin-top:10px;
	align-self: center;
}*/

