@font-face{
    font-family:'Fira Code', monospace;
	src:"https://fonts.googleapis.com/css?family=Fira+Code&display=swap";

}
*{
    margin: 0;
    padding: 0;
    font-family:'Fira Code', monospace;
}
body{
    font-family: sans-serif ;
    font-weight: 400;
}
.logo{
    height: 12vh;
    width: auto;
    /* border: 100%; */
    float: left ;
}
.container{
    background: url('Cricket Stadium_1_RF_RMPL-01.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    float: right;
    padding: 0 3vw;
}
header{
    /* background :#7d83b0; */
    /* fill:#f3f3f3; */
    /* fill: slategray; */
    background: linear-gradient(rgb(21, 183, 201),rgba(31,200,219,0));
    height: 12vh;
}
nav ul{
    margin : 0;
    padding : 0;
    list-style: none;
}
nav li{
    display : inline-block; 
    margin-left : 35px;
    margin-top : 25px;
    padding-top:25px;
    padding-bottom: 10px;
    padding-left : 5px; 
    position: relative;
}
nav a{
    color:whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}
nav a :hover{
    color: black;
}
nav a::before{
    content:'';
    display: block;
    height : 5px;
    background-color:whitesmoke;
    position : absolute;
    top:0;
    width:0;
    transition: all ease-in-out 1s;
}
nav a:hover::before{
    width : 100%;
}
#main{
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#schedule{
    background: white;
    /* opacity: 0.5; */
    height: 80%;
    width: 60%;
}