@font-face{
    font-family:'Fira Code', monospace;
	src:"https://fonts.googleapis.com/css?family=Fira+Code&display=swap";

}
*{
    margin: 0;
    font-family:'Fira Code', monospace;
}
body{
    font-weight: 400;
}
.container{
    background: url('Cricket Stadium_1_RF_RMPL-01.jpg') no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.buttons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
/* img{
    height: 10px;
} */
nav{
    float: right;
    padding: 0 3vw;
}


header{
    /* background :#7d83b0; */
    FILL:#f3f3f3;
    background: linear-gradient(rgba(31,200,219,1),rgba(31,200,219,0));
    height: 12vh;
}
nav ul{
    margin : 0;
    padding : 0;
    list-style: none;
}
nav li{
    display : inline-block; 
    margin-left : 35px;
    margin-top : 25px;
    padding-top:25px;
    padding-bottom: 10px;
    padding-left : 5px; 
    position: relative;
}
nav a{
    color:whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}
nav a :hover{
    color: black;
}
nav a::before{
    content:'';
    display: block;
    height : 5px;
    background-color:whitesmoke;
    position : absolute;
    top:0;
    width:0;
    transition: all ease-in-out 1s;
}
nav a:hover::before{
    width : 100%;
}



.box input[type="submit"]:hover
{
	cursor: pointer;
	transform:scale(1.1);
	color: #000000;
}
.box p{
    text-align:center;
    margin-top:1vh
}
*{
    margin: 0;
}
body{
    font-family: sans-serif ;
    font-weight: 400;
}

.logo{
    height: 12vh;
    width: auto;
    /* border: 100%; */
    float: left ;
}
#main{
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    /* justify-items: flex-end; */
}

.box label{
	margin: 0;
	padding-bottom:10%;
	font-weight: bold;
}
.box input{
	margin-bottom: 10px;
}
.box input[type="text"],input[type="password"],input[type="email"]
{
	border: none;
    border: 1px solid black;
    border-radius: 10vh ;
	background: transparent;
	outline: grey;
	height: 40px;
	color:black;
	font-size: 16px;
    width: 100%;
    padding-left:15px;
    align: center;
}
/* .box ::placeholder{
margin-left: 10px;
padding-left: 20px; 
} */

/* .box input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #ffffff;
    font-size: 18px;
    width: 100%;
} */
#signup{
    width: auto;
    height: auto;
    /* min-height: 375px; */
    overflow:hidden;
    border-radius: 5%;
	min-width: 300px;
    background:aliceblue ;
    opacity: 95%;
	color:royalblue;
    position: absolute;
    top: 60%;
    left: 40%;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
    padding: 10px 30px;
    /* margin-left: 10vw; */
    /* margin-top: 10vh; */
    /* display: flex; */
    /* flex-direction: column; */
	/* margin-bottom: 30px;     */
    /* align-self: flex-end; */
    display: none;  
    /* align-content: flex-end; */
    box-shadow: 10px 5px 5px #888888; 
}
#signin{
    width: auto;
    height: auto;
    /* min-height: 150px; */
    overflow:hidden;
    border-radius: 5%;
	min-width: 300px;
    background:aliceblue ;
    opacity: 95%;
	color:royalblue;
	position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 40%;
	box-sizing: border-box;
    padding: 10px 30px;
    /* margin-left: 10vw; */
    /* margin-top: 10vh; */
    display: flex;
    flex-direction: column;
	/* margin-bottom: 30px;     */
    /* align-self: flex-end; */
    display: block;  
    /* align-content: flex-end; */
    box-shadow: 10px 5px 5px #aaaaaa;
}
.box input[type="submit"]:hover
{
	cursor: pointer;
	transform:scale(1.1);
	color: #000000;
}
.box p{
    text-align:center;
    margin-top:1vh
}

/* button{
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;


    min-height: 5vh;
    background:#031321;
    font-family : sans-serif;

} */
button{
position: relative;

/* display:inline-block; */
/* align-items: center; */
margin-bottom: 3vh;
color: black;
background:white;
margin : 1vh;
/* margin-left: 13.5vh; */
text-transform: uppercase;
text-decoration: none;
font-size: 20px;
padding:5px;
/* opacity: 0.5; */
overflow: hidden;
transition : 0.2s;
width: 60%;
border-radius: 100%;
/* transition : 0.2s; */
}
.apage:hover{
    /* color: white */
    /* background : black; */
    /* box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3 ; */
    
  color: red;
  font-weight: 100;
  cursor: pointer;
}
.in_up:hover{
    color: green;
    font-weight: 100;
    cursor: pointer;
}
.up_in:hover{
    background-color:royalblue;
    color: white;
    font-weight: 100;
    cursor: pointer;
  }
  .apage{
    text-decoration: none;
}
  .subbut:hover{
    cursor: pointer;

    background:rgb(31,200,219);
    color:white;
  }
  .subbut2:hover{
    cursor: pointer;
    background:green;
    color:white;
  }
  .up_in2:hover{
      color:rgb(31,200,219);
      cursor:pointer;
  }
